.contact {
   &__form {

        .contact--btn {
            background-color: $wow-blue;
            margin-bottom: 20px;
            text-align: center;
            filter: drop-shadow(-5px 5px 4px rgba(97,112,122,1));
            &:hover {
                background-color: $dark-blue;
                color: $light-blue;
                font-style: italic;
            }
        }

        &--control {
            margin: -8px;
            border: 2px solid;
            border-color: $dark-blue;
            
        }
    }
}

.form-group {
    text-align: left;
}

// .error {
//     color: red;
//     margin: 5px;
// }

