.contact {
   &__form {
        text-align: left;

        .contact--btn {
            border-radius: 10px;
            background-color: $wow-blue;
            margin-bottom: 20px;
            text-align: center;
            &:hover {
                background-color: $dark-blue;
                color: $light-blue;
                font-style: italic;
            }
        }

        &--control {
            margin: -8px;
            background-color: $dark-blue; 
            color: $background-color;
            border-color: rgba(97,112,122,1);
            
        }
    }
}

.error {
    color: red;
    margin: 5px;
}

