.contact {
   &__form {

        .contact--btn {
            border-radius: 10px;
            border-color: $wow-blue;
            margin-bottom: 20px;
            text-align: center;
            &:hover {
                background-color: $dark-blue;
                color: $light-blue;
                font-style: italic;
            }
        }

        &--control {
            margin: -8px;
            border: 2px solid;
            border-color: $dark-blue;
            
        }
    }
}

.form-group {
    text-align: left;
}

.error {
    color: red;
    margin: 5px;
}

