.icons__footer {
    background-color: #D5D9DB;
                &--item {
                    color: $dark-blue;
                    font-size: 2em;
                    padding: 7px;
                }   
}

