.header {
    height: 100vh;
    background-image: url("../../images/background-colour1db2.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        text-shadow: -5px 3px 6px #000000;
    }

    &--icon {
        color: #966F35;
        font-size: 80px;
    }
}