.header {
    height: 100vh;
    background-image: url("../../images/background-colour1db2.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        text-shadow: -5px 3px 6px #000000;
    }

    &--icon {
        color: $light-blue;
        font-size: 80px;
    }
    @media only screen and (min-width: 800px) {
        background-image: url("../../images/technology-785742_12802.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}