.card__body {
    background-color: $dark-blue;
    color: $background-color;
    padding: 0;
        
        Button {
            background-color: $dark-blue;
            border-color: $wow-blue;
            align-items: center;
            &:hover {
                background-color: $dark-blue;
                font-style: italic;
            }
        }
}

.knowledge--body {
    text-align: left;
    padding-left: 55px;
    margin-bottom: 10px;
}