.card__body {
    background-color: $dark-blue;
    color: $background-color;
    padding: 10px;
}

.knowledge {
    &--body {
        margin-top: 15px;
    }

    .col-md-4 {
        text-align: center;
    }
}