.card__body {
    background-color: $dark-blue;
    color: $background-color;
    padding: 0;
}

.knowledge {
    &--body {
        text-align: left;
        padding-left: 55px;
        margin-bottom: 10px;
    }

    .col-md-4 {
        text-align: center;
    }
}