body {
    background-color: $background-color;
    font-family: $sub-font;
    text-align: center;
}

.container {
    justify-content: center;
    width: 90%;
}

h1 {
    font-family: $title-font;
    color: $wow-blue;
    font-weight: bold;
    font-style: italic;
    padding: 100px;
}

h2 {
    font-family: $header-font;
    background-color: $light-blue;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 2px;
    text-align: center;
}

h3 {
    font-family: $title-font;
    color: $light-blue;
}

@media only screen and (min-width: 800px) {
    .header {
    background-image: url("../../images/technology-785742_12802.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .nav {
        background-color: $background-color;
    }
    
    .container {
        max-width: 70%;
    }
}