body {
    background-color: $background-color;
    font-family: $sub-font;
    text-align: center;
}

.container {
    justify-content: center;
    width: 90%;
    @media only screen and (min-width: 800px) {
        width: 65%;
    }
}

h1 {
    font-family: $title-font;
    color: $wow-blue;
    font-weight: bold;
    font-style: italic;
    padding: 100px;
}

h2 {
    font-family: $header-font;
    background-color: $light-blue;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 2px;
    text-align: center;
}

h3 {
    font-family: $title-font;
    color: $light-blue;
}
    
    