body {
    font-family: $subtitle-font;
    background-color: $background-color;
}


h1 {
    color: $wow-blue;
    text-shadow: 0 3px 2px #4A3C29;
    font-weight: bold;
    font-style: italic;
    padding: 100px;
}

h3 {
    font-family: $header-font;
    font-size: 3em;
    background-color: $light-blue;
    text-align: center;
}

h5 {
    color: $light-blue;
    padding: 50px;
}