.sticky-top {
    position: sticky;
}
.logo {
    width: 120px;
    padding-left: 20px;
}

.navbar {
    background-image: url("../../images/background-colour1db2.jpg");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    border-color: none;
    padding: 15px;
}

.navbar-collapse {
    padding: 0 15px;
}

.navbar-toggler-icon {
    color: $dark-blue;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    &:hover {
        background-color: $dark-blue;
        color: white;
        font-style: italic;
    }
}