header {
    flex-shrink: 0;
    display: flex;
    text-transform: uppercase;
}

.sticky-top {
    position: sticky;
}
.logo {
    width: 80px;
    padding: 5px;
    padding-left: 20px;
}

.navbar {
    background-image: url("../../images/background-colour1db2.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
.navbar-toggler {
    border-color: none;
    padding: 15px;
}

.navbar-collapse {
    padding: 0 15px;
}

.header {
    &--icon {
        color: $wow-blue;
        font-size: 50px;
    }
}