header {
    flex-shrink: 0;
    display: flex;
    text-transform: uppercase;
}

.sticky-top {
    position: sticky;
}
.logo {
    width: 60px;
    padding: 5px;
    padding-left: 20px;
}

.navbar {
    padding: 0;
    background-color: $background-color;
}
.navbar-toggler {
    border-color: none;
    padding: 15px;
}

.navbar-collapse {
    padding: 0 15px;
}

.header {
    &--icon {
        color: $wow-blue;
        font-size: 50px;
    }
}