.carousel__item {
    min-height: 400px;
    background-image: url("../../images/coding-1841550_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img {
        min-height: 400px;
        background-image: url("../../images/planet-1051946_1920.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.carousel__caption {
    text-align: left;
    overflow: hidden;
    
        &--content {
            color: white;
            font-size: 0.8em;
        }
        &--mainTxt {
            font-size: 1em;
        }
        &--firmNameText {
            text-align: right;
            font-size: 0.8em;
        }
}