.carousel__item {
    min-height: 400px;
    background-image: url("../../images/markus-spiske-QozzJpFZ2lg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img {
        min-height: 400px;
        background-image: url("../../images/smart-725843_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.carousel__caption {
    text-align: left;
    color: black;
    
        &--content {
            font-size: 0.8em;
        }
        &--mainTxt {
            font-size: 1em;
        }
        &--firmNameText {
            text-align: right;
            font-size: 0.8em;
        }
}