.carousel__item {
    min-height: 400px;
    background-image: url("../../images/stars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.carousel__caption {
    text-align: left;
    overflow: hidden;
        &--content {
            color: white;
        }
        &--mainTxt {
            font-size: 1.1em;
        }
        &--firmNameText {
            text-align: right;
        }
}