// ~ Fonts ~
$title-font: 'Lato', sans-serif;
$header-font: 'Roboto', sans-serif;
$subtitle-font: 'Open Sans', sans-serif;

// ~ Colours ~
$background-color: #E9EBEC;
$light-blue: #89B2D2;
$dark-blue: #293C4A;
$wow-blue: #3589C9;
$gray: #61707A; 