.card {
    border-color:$wow-blue;
    margin: 10px 35px;
    filter: drop-shadow(10px 10px 5px 0px grey);
    
    &__header {
    background-color: $dark-blue;
    padding: 0;
    
        .btn-link {
            color: $background-color;
            text-decoration: none;
        }
        .btn-link:hover {
            color: $background-color;
            text-decoration: none;
        }
    }
}

.work__name {
    color: white;
}

.accordion {
    filter: drop-shadow( rgba(97,112,122,1));
}

.card__body {
    background-color: $dark-blue;
    color: $background-color;
        
        Button {
            background-color: $dark-blue;
            border-color: $wow-blue;
            align-items: center;
            &:hover {
                background-color: $dark-blue;
                font-style: italic;
            }
        }
}