.card__header {
    align-items: center;
    background-color: $dark-blue;
    border: 10px 10px 5px 0px rgba(137,178,210,1);
    .btn-link {
        color: white;
        text-decoration: none;
    }
    .btn-link:hover {
        color: white;
        text-decoration: none;
    }
}

.card__body {
    background-color: $dark-blue;
    box-shadow: 10px 10px 5px 0px rgba(137,178,210,1);
    color: $background-color;
        
        &--p {
            text-shadow: $light-blue;   
        }
        Button {
            background-color: $dark-blue;
            border: 10px $wow-blue;
            &:hover {
                background-color: $dark-blue;
                font-style: italic;
            }
        }
}